{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <body id="home">
        <div class="container h-100">
            <!--Navigation icons-->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <div class="nav-icons d-flex flex-wrap justify-content-end mt-4">
                        <a href="{% url 'post-create' %}" title="Create post"><i class="material-icons-outlined">
                            add_box
                        </i>
                        </a>
                        <a href="{% url 'profile' %}" title="Settings"><i class="material-icons-outlined">
                            settings
                        </i></a>
                        <a href="{% url 'logout' %}" title="Sign out"><i class="material-icons-outlined">
                            exit_to_app
                        </i></a>
                    </div>
                </div>
            </div>
            <!--Profile Details-->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <div class="profile justify-content-start flex-wrap d-flex mt-2">
                        <img class="avatar" src="{{ user.profile.image.url }}" alt="Profile Image"/>
                        <div class="info ml-5 mt-3">
                            <h3 id="name" class="font-weight-bold">
                                <a href="{% url 'blog-home' %}">{{ user.username }}'s Family</a>
                            </h3>
                            <p class="bio">
                                {{ user.profile.bio }}
                            </p>
                            <span><a href="/" class="font-weight-bold">{{ posts.count }}</a> memories</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--Posts-->
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-10">
                    <div class="posts text-center d-flex flex-wrap mt-5 px-2">
                        {% for post in posts %}
                            <div class="col-lg-4">
                                <div class="card shadow-sm">
                                    <div class="thumbnail">
                                        <img src="{{ post.image.url }}" alt="Post"/>
                                    </div>
                                    <div class="date my-2">
                                        <a href="{% url 'post-detail' post.id %}">{{ post.date_posted|date:"j M Y" }}</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
    </body>

{% endblock content %}