{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <body id="post-detail">
        <div class="container h-100">
            <!--Navigation-->
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 mx-auto">
                    <div class="nav-icons d-flex flex-wrap justify-content-end mt-4">
                        <a href="{% url 'blog-home' %}" title="Home"><i class="material-icons-outlined">
                            home
                        </i>
                        </a>
                        <a href="{% url 'post-create' %}" title="Create post"><i class="material-icons-outlined">
                            add_box
                        </i>
                        </a>
                        <a href="{% url 'profile' %}" title="Settings"><i class="material-icons-outlined">
                            settings
                        </i></a>
                        <a href="{% url 'logout' %}" title="Sign out"><i class="material-icons-outlined">
                            exit_to_app
                        </i></a>
                    </div>
                </div>
            </div>
            <!--Post Details-->
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-8 col-md-12">
                    <div class="details mt-2">
                        <div class="card p-3 shadow-sm">
                            <div class="row px-2 mb-2 justify-content-between">
                                <a href="{% url 'post-delete' object.id %}" title="Delete"><i
                                        class="material-icons-outlined px-2">
                                    delete
                                </i></a>
                                <a href="{% url 'post-update' object.id %}" title="Update"><i
                                        class="material-icons-outlined px-2">
                                    edit
                                </i></a>
                            </div>
                            <img src="{{ object.image.url }}" class="card-img-top" alt="Post">
                            <div class="card-body px-0">
                                <h6 class="blue font-weight-bold date">{{ object.date_posted|date:"j M Y" }}</h6>
                                <p class="caption m-0 p-2">{{ object.caption }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
    </body>
{% endblock content %}