{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <body id="create-post">
        <div class="container h-100">
            <div class="row h-100 mx-auto justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="card my-2">
                        <div class="card-body p-2">
                            <!--Button-->
                            <div class="row px-2 justify-content-end">
                                <a href="{% url 'blog-home' %}" title="Cancel"><i class="material-icons-outlined px-2">
                                    cancel
                                </i></a>
                            </div>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <div class="upload-image text-capitalize">
                                        <button class="btn btn-grey">Choose Image</button>
                                        <div style="opacity: 0;top: 0; position:absolute;left: 0;">{{ form.image }}</div>
                                    </div>
                                </div>
                                <!--Thumbnail-->
                                <div class="row justify-content-center">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" alt="Upload Image" id="image">
                                        {% else %}
                                        <img src="{% static 'blog/res/biology.svg' %}" alt="Upload Image" id="image">
                                    {% endif %}

                                </div>
                                <!--Inputs-->
                                <div class="inputs text-capitalize px-4">
                                    <div class="input-field">
                                        <i class="material-icons-outlined prefix">
                                            edit
                                        </i>
                                        {{ form.caption }}
                                        <label for="id_caption">caption</label>
                                    </div>
                                    <button type="submit" class="text-capitalize btn btn-yellow w-100">
                                        post
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input#input_text, textarea#id_caption').characterCounter();
            });

            window.onload = function () {
                const element = document.getElementById("id_caption");
                element.className = "materialize-textarea";
                element.setAttribute("data-length", "300");
            };

            function readURL(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#id_image").change(function () {
                readURL(this);
            });
        </script>
{% endblock content %}