{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <body id="password-reset">
        <div class="container h-100">
            <div class="row h-100 mx-auto justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="card my-2">
                        <img src="{% static 'blog/res/page-not-found-4.png' %}" alt="reset password"
                             class="card-img-top mx-auto">
                        <div class="card-body p-2 px-4">
                            <div class="text my-4">
                                <h5>Set a new password</h5>
                            </div>
                            <div class="inputs text-capitalize">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="input-field">
                                        <i class="material-icons-outlined prefix">
                                            lock
                                        </i>
                                        {{ form.new_password1 }}
                                        <label for="password">password</label>
                                        <div class="text-danger small text-center">
                                            {{ form.new_password1.errors }}
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        <i class="material-icons-outlined prefix">
                                            done
                                        </i>
                                        {{ form.new_password2 }}
                                        <label for="confirm-password">confirm password</label>
                                        <div class="text-danger small text-center">
                                            {{ form.new_password2.errors }}
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-darkblue w-100 text-capitalize">
                                        set password
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
    </body>
{% endblock content %}