{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <body id="edit-profile">
        <div class="container h-100">
            <!--Profile-->
            <div class="row h-100 mx-auto justify-content-center align-items-center">
                <div class="col-lg-4 col-md-12 mx-auto">
                    <div class="card my-2">
                        <div class="card-body p-2">
                            <!--Button-->
                            <div class="row px-2 justify-content-end">
                                <a href="{% url 'blog-home' %}" title="Cancel"><i class="material-icons-outlined px-2">
                                    cancel
                                </i></a>
                            </div>
                            <!--Avatar-->
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row justify-content-center">
                                    <img src="{{ user.profile.image.url }}" alt="Avatar" id="image">
                                </div>
                                <!--Change Avatar-->
                                <div class="row justify-content-center">
                                    <div class="change-avatar mt-3 text-capitalize">
                                        <button class="btn btn-grey">Change Avatar</button>
                                        <div style="opacity: 0;top: 0; position:absolute;left: 0;">{{ p_form.image }}</div>
                                    </div>
                                </div>
                                <!--Inputs-->
                                <div class="inputs text-capitalize py-2 px-4">
                                    <div class="input-field">
                                        {{ u_form.username }}
                                        <label for="username">username</label>
                                        <div class="text-danger small text-center">
                                            {{ u_form.username.errors }}
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        {{ u_form.email }}
                                        <label for="email">email</label>
                                        <div class="text-danger small text-center">
                                            {{ u_form.email.errors }}
                                        </div>
                                    </div>
                                    <div class="input-field">
                                        {{ p_form.bio }}
                                        <label for="bio">bio</label>
                                        <div class="text-danger small text-center">
                                            {{ p_form.bio.errors }}
                                        </div>
                                    </div>
                                    <button type="submit" class="text-capitalize btn btn-blue w-100">
                                        update profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="{% static 'blog/js/materialize.min.js' %}"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('input#input_text, textarea#id_bio').characterCounter();
            });

            window.onload = function () {
                const element = document.getElementById("id_bio");
                element.className = "materialize-textarea";
                element.setAttribute("data-length", "150");
            };

            function readURL(input) {
                if (input.files && input.files[0]) {
                    const reader = new FileReader();

                    reader.onload = function (e) {
                        $('#image').attr('src', e.target.result);
                    };

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#id_image").change(function () {
                readURL(this);
            });
        </script>
    </body>
{% endblock content %}